html, body {
    background-color: #000000;
    text-align: left;
}

.console {
  margin: 20px 10px 0 10px;
  font-size:  12pt;
  font-family: monospace;
  color: #32CD32;
}

.input {
  color: #32CD32;
  background-color: #000000;
  border: 0;
  font-size:  12pt;
  font-family: monospace;
  margin: -1px 10px 0 10px;
  width: calc(100% - 20px);
}

.input:focus {
  outline: 0;
}

p {
  margin-top: 0;
  margin-bottom: 2px;
}
